 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hakkımda</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Merhabalar, ben Mürüvet Uslu biraz kendimden bahsetmek istiyorum. Küçüklüğümden beri büyüyünce ne olacaksın sorusuna Bilgisayar Mühendisi diye 					cevap verirdim. Bu isteğim hiçbir zaman değişmedi. Bu nedenle liseyi Selçuk Anadolu Meslek Lisesi'nde Bilişim Teknolojileri Bölümü Veri 				Tabanı alanında okudum. Lisede kedimi yazılım alanında geliştirme fırsatı buldum. Sonrasında Sakarya Üniversitesi Bilgisayar 		  			Mühendisliği bölümünü kazandım şu anda 3. sınıf öğrencisiyim. 1 yıldır güvenliğe merakım bulunmaktaydı. Bu merak üzerine yoğunlaştığımda kendimi özgür yazılım ve güvenlik alanının içinde buldum.</p>
                </div>
                <div class="col-lg-4">
                    <p>Şu anda Sakarya Üniversitesi Siber Güvenlik topluluğunun kurul üyesiyim. Toplulukta kendimizi siber güvenlik alanında geliştirmek amacıyla etkinlikler düzenlemekteyiz. Kısaca ben özgür yazılımı benimsemiş , güvenlik alanında araştırmalarla sürekli kendini geliştirmeye çalışan bir kişiyim. Bu blog sayfasını açma nedenimde bu araştırmalarımı paylaşmaktır.
		    <p><center>- Aldığım Eğitimler -  </center></p><br>
			<ul>
		  	    <li>Linux Yaz Kampı'15 - Web Uygulama Güvenliği ve Güvenli Kod Geliştirme</li>
			    <li>Sızma Testi Uzmanı Yetiştirme Programı (Alper Başaran)</li>
			</ul>

                </div>
     
            </div>
        </div>
    </section>
